@import url('https://fonts.googleapis.com/css2?family=Kufam:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&display=swap'); // main site font

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Kufam', sans-serif;
}

.user-auth-page {
  background-color: #121212;

  main {
    height: 90vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
    .user-auth-form {
      display: grid;
      justify-content: center;
      width: 100%;

      .user-auth-logo {
        display: grid;
        justify-items: center;
        img {
          max-width: 100%;
          width: 50%;
        }
      }

      .user-auth-details {
        display: grid;
        justify-content: center;
        gap: 20px;

        input {
          padding: .5em;
          border: none;
          font-size: 1.3em;
          background-color: transparent;
          border: 2px solid #BB86FC;
          border-radius: 0.3em;
          color: #FFF;
          caret-color: #fff;
        }

        input::placeholder {
          color: rgb(180, 180, 180);
        }

        input:focus {
          outline: 1px solid #fff;
        }

        label {
          color: #FFF;
          font-weight: bold;
        }

        .file-upload-btn {
          display: flex;
          flex-direction: column;
          align-items: center;
          row-gap: .5em;
          background-color: #BB86FC;
          padding: .6em;
          border-radius: 1em;
          font-weight: bold;
          cursor: pointer;

          span {
            font-size: .7em;
          }
        }
      }

      .user-auth-buttons {
        display: flex;
        grid-template-columns: repeat(2, 1fr);
        margin: 1em 0;
        justify-content: center;

        .buttons-container-auth {
          button {
            margin: 0.2em 0;
            font-size: 1.4em;
            padding: .6em 0;
            width: 9vw;
            cursor: pointer;
            background-color: #BB86FC;
            border: none;
            border-radius: .3em;
            font-weight: bold;
            color: #FFF;
            transition: background-color .3s ease-in-out, color .3s ease-in-out;
          }
          
          button:hover {
            background-color: #c49ef1;
            color: rgb(48, 47, 47);
          }
        }
      }
    }

    .site-short-description {
      display: grid;
      justify-content: center;
      
      p {
        color: #FFF;
        font-weight: bold;
      }
    }
  }
}